{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            {% include('flash-messages') %}
            {{ form(my_form) }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    .container {
        margin-top: 40px;
    }
</style>
{% endblock %}
